
<div class="wrapper hold-transition skin-blue sidebar-mini">
  <account-header  ng-if="$root.loggedUser"></account-header>
  <!-- Views  -->
  <div ng-view class="contentWrapper"></div>
  <!-- END Views  -->
  <!-- Main Footer -->
  <default-footer></default-footer>
</div>

